---
interface Props {
  idx: number;
}

let { idx } = Astro.props;

import { sequence } from "astro:middleware";
import data from "../data/data-with-sizes.json";

const art = data[idx];
const { small, large } = art.images.hero;
const { name, artist } = art;
---

<section class="slides">
  <figure id="slide__figure" class="slide__figure relative">
    <picture>
      <source media="(min-width: 600px)" srcset={small.src} />
      <img src={large.src} alt={`Paiting titled ${name} by ${artist.name}`} />
    </picture>
  </figure>
</section>
